data/*

!data/processed/
!data/README.md

venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/


database/warehouse/*
!database/warehouse/setup_data_warehouse_schema.sql

reports/data/mflows.drawio
reports/data/star_schema.drawio